
@1x: 5em;
@half: @1x / 2;
@double: @1x * 2;

.onTime {
  color: rgb(0, 128, 255);
}

button {
  width: @1x;
  height: @1x;
  font-size: @half;
  border-radius: @half;
  border-width: 0px;
  background-color: white;
}

.absolute {
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.sunset {
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}

.sunrise {
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
}

body {
  font-family: sans-serif;
  .sunset;
  .absolute;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-snack input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-snack input:focus{
  outline: 0;
}

.grid {


}

.nuke {
  background-color: #ff0000;
}
