@import "flex";
@import "compatibility";

@1x: 3.5em;
@half: @1x / 2;
@quart: @1x / 4;
@gap: @1x / 16;
@2x: @1x * 2;

@dim: rgba(255,255,255,.3);
@clear: rgba(0,0,0,0);
@hover-border: rgba(0,128,255, .5); // Can't go on water
@yella: rgb(255,255, 0, .2);
@blue: rgba(0,128,255,.9);


.page-container {
  height: 100%;
  .flex-display();
}

.nav {
  .flex-shrink(0);
  .flex-display();
}

@media all and (orientation:portrait) {
  .page-container{
    .flex-direction(column);
  }
  .nav {
    height: @2x;
    .sunset-right;
    .flex-direction(row);
    .justify-content(space-around);
  }
  .grid {
    .flex-direction(row);
  }
}

@media all and (orientation:landscape) {
  .page-container{
    .flex-direction(row);
  }
  .nav {
    width: @2x;
    .sunset;
    .flex-direction(column);
  }
  .grid {
    .flex-direction(column);
  }
}

.circled(@size:@1x) {
  width: @size;
  height: @size;
  font-size: @size/2;
  border-radius: @size/2;
}

.fixed {
  position: fixed;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.nav-item{
  .circled();
}

#new-punch {
}
#clear-btn {
  &:hover {
    .bordered(.1em, red);
  }
}


.gap {
  .circled();
  width: @1x + @gap*2;
}

.center-flex {
  .flex-display();
  .align-items(center);
  .justify-content(center);
}

.ring {
  .center-flex;

  .circled();
  background-color: @clear;
  .bordered(2px, @dim);
  .align-items(center);
  color: white;

  margin: @gap;
  .unselectable;

  &:hover {
    .bordered(.1em, @hover-border);
  }
}

.count {
  text-align: center;
  font-size: @gap*3;
}

.time {
  color: rgba(0,0,0,.5);
}

.gradient(@from, @to){
  background-image: linear-gradient(to bottom, @from, @to 100%);
}
.gradient-right(@from, @to){
  background-image: linear-gradient(to right, @from, @to 100%);
}

.sunset-right { .gradient-right(#315481, #cc9064) }
.sunset { .gradient(#315481, #cc9064) }
.evening { .gradient(#211766, #315481) }
.twilight { .gradient(#210e42, #211766) }
.morning { .gradient(#d0edf5, #e1e5f0) }

.absolute {
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}

body {
  .evening;
  .absolute;
}

#login-buttons {
  display: block;
}

.grid-container {
  .flex-display();
}

.grid {
  .flex-display();
  .flex-wrap(wrap);
  .justify-content(flex-start);
}

input[type="text"] {
    background: transparent;
    cursor: pointer;

    &:focus { cursor: text; }
  }

.list-item { border-top: 1px solid #f0f9fb; }
input[type="text"] { .flex(1); }

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}
