@import "flex";
@import "compatibility";

@1x: 4em;
@half: @1x / 2;
@quart: @1x / 4;
@gap: @1x / 16;
@2x: @1x * 2;

@dim: rgba(255,255,255,.3);
@clear: rgba(0,0,0,0);
@hover-border: rgba(0,128,255, .5); // Can't go on water
@yella: rgb(255,255, 0, .2);
@blue: rgba(0,128,255,.9);

.circled(@size:@1x) {
  width: @size;
  height: @size;
  font-size: @size/2;
  border-radius: @size/2;
}

.fixed {
  position: fixed;
}

button {
  margin: @gap;
}

.new-punch {
  .circled();
  background-color: white;
  color: black;
  .bordered();
  &:hover {
    .bordered(.3em, @yella);
  }
}

.nuke {
  .circled();
  background-color: rgba(170,0,0, .25);
  color: white;
  .bordered;
  right: 1em;
  bottom: 0%;

  &:hover {
    background-color: rgba(170,0,0, .8);
  }
}

.debug {
  .nuke;
  background-color: rgba(34,34,34, .25);
  color: white;
  right:1em;
  bottom: 0% + (@1x*4 + @gap*2);

  &:hover {
    background-color: rgba(34,34,34, .8);
  }

}
.debugOn {
  .bordered(3px, #fa0)
}

.gap {
  .circled();
  width: @1x + @gap*2;
}

.day {
  .circled(3.5em);
  background-color: @clear;
  .bordered(2px, @dim);
  .align-items(center);

  &:hover {
    .bordered(.1em, @hover-border);
  }
}

.onTime {
  background-color: white;
  color: rgb(0,128,255);
  .bordered(2px, white);
}

.date {
  text-align: center;
  font-size: @gap*3;
  color: black;
}

.time {
  color: rgba(0,0,0,.5);
}

.gradient(@from, @to){
  background-image: linear-gradient(to bottom, @from, @to 100%);
}

.sunset { .gradient(#315481, #918e82) }
.evening { .gradient(#211766, #315481) }
.morning { .gradient(#d0edf5, #e1e5f0) }

.absolute {
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}

body {
  .morning;
  .absolute;
}

#login-buttons {
  display: block;
}

.grid {
  .flex-display(inline-flex);
  .flex-wrap(wrap);
  .align-items(center);
  .justify-content(flex-start);
}
